<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 
    background-image: url("http://justfunfacts.com/wp-content/uploads/2016/03/himalayas.jpg");
	background-repeat:no-repeat;

   background-size:cover;

}


.topnav {
  overflow: hidden;
  background-color: blue;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: blue;
  color: black;
}

.topnav a.active {
  background-color: Blue;
  color: white;
}
</style>

</head>

    <meta charset="utf-8" />
   
</head>
<body>
<div class="topnav">
 
   <a href="/nurseSignup">Nurse Sign Up</a>
    <a href="/PatientSignup">Patient Sign Up</a>
	<a href="/nurseLogin">Nurse Login</a>
    <a href="/PatientLogin">Patient Login</a>
</div>
    <div>
        <h2>Final Project with Mongoose</h2>
    </div>

   

</body>
</html>