<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
.container {
    border-radius: 5px;
    background-color: skyblue;
    padding: 20px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 	background-repeat:no-repeat;

   background-size:cover;

}
</style>

</head>

<body>
<script>
var check = function() {
  if (document.getElementById('password').value ==
    document.getElementById('confirm_password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'matching';
	alert('matching passwords');
  } else {
   // document.getElementById('message').style.color = 'red';
   // document.getElementById('message').innerHTML = 'not matching';
   alert('not matching passwords');
   
  }
}
</script> 




<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
       <h1>Welcome To Our <%= title %></h1>
	   <br>
		 <br>

	   <form action="/users/nurse" method="post" >
 <div class="input-group mb-3">
  <div class="input-group-prepend">
  <label class="input-group-text" for="firstName">First Name</label>
  </div>
    <input type="text" class="form-control" size="30" id="firstName" name="firstName" placeholder="Enter your First Name" required >
 </div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
  <label class="input-group-text" for="lastName">Last Name</label>
  </div>
	<input type="text" class="form-control" size="30" id="lastName" name="lastName" placeholder="Enter your Last Name" required>
</div>

   <div class="input-group mb-3">
   <div class="input-group-prepend">
    <label class="input-group-text" for="Email">Username</label>
   </div>
  
    <input type="email" class="form-control" size="30" id="Email" name="email" placeholder="Enter your email" required >
</div>

 <div class="form-group input-group mb-3">
 <div class="input-group-prepend">
  <label class="input-group-text" for="password">Password</label>
  </div>
    <input type="password" class="form-control" size="30" id="password" name="password" placeholder="Enter your password"  required >
</div>

 <div class="form-group  input-group mb-3">
 <div class="input-group-prepend">
  <label class="input-group-text" for="confirm_password">Confirm Password</label>
  </div>
    <input type="password" class="form-control" size="30" id="confirm_password" name="confirm_password" placeholder="Enter your password again"  data-match="#password" data-match-error="Whoops, these don't match" onChange='check();'  required >
</div>




 



   
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

      </div>
    </div>
  </div>


</body>

</html>





