<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <h1><%= title %></h1>

</head>

  <body>

 <div class="jumbotron text-xs-center">
     

        
          
 <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
         <h1>Welcome To  <%= title %> Page</h1>
		  <form action="/display/vitalsigns/seeVisits" method="post">

		   <div class="input-group mb-3">
   <div class="input-group-prepend">
    <label class="input-group-text" for="patient">Patient Name</label>
   </div>
  <select class="selectpicker" data-style="btn-info" name="patient">
        <optgroup label="Select Table">


            <option value="">Select PATIENT Name</option>
            <% users.forEach(function (user) { %>
            <option value="<%= user.firstName %>"><%= user.firstName %></option>
            <% }) %>
        </optgroup>
    </select></div>

		  <button type="submit" class="btn btn-primary">Submit</button>
</form>
          
        </div>
      </div>
    </div>
        
        
  
 
      </div>
  </body>
</html>